<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My Test Suite">

    <test name="My Test">
        <classes>
            <class name="_02_XML_File.ScenarioTrendyol"></class>
            <class name="_02_XML_File.ScenarioTest"/>
        </classes>
    </test>
</suite>